.cart_wrapper{
    width: 100%;
    width: clamp(250px, 95%, 1200px);
    /* overflow: hidden; */
    background-color: gray;
    display: flex;
    flex-direction: column;
}
.cartContainer{
    position: relative;
    width: 8s0vw;
    height: 450px;
    top: 150px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
}
.Buy{
    position: relative;
    height: 45px;
    padding: 3px 3px 3px 5px;
    background-color: black;


    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    border-radius: 7.5px;
}
.price{
    color: white;
    font-size: 24px;
}
.BuyButtn{
    position: relative;
    bottom: 0;
    width: 175px;
    height: 100%;
    background: linear-gradient(90deg, rgb(0, 145, 0), rgb(0, 105, 0));

    color: white;
    font-size: 25px;

    border-radius: 5px;
    border: none;

    transition: 0.5s;
}
.BuyButtn:hover{
    background: linear-gradient(-90deg, rgb(0, 145, 0), rgb(0, 105, 0));
}


.cart_cardContainer{
    position: relative;
    width: 100%;
    min-width: 150px;
    background-color: rgba(216, 209, 209, 0);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .cart_card{
    position: relative;
    width: 100%;
    background-color: rgb(74, 74, 74, 1);
    transition: 0.25s;
  
    padding: 15px;
    box-sizing: border-box;

    overflow: hidden;

    display: grid;
    gap: 25px;
    justify-items: end;
  }
  .cart_imgContainer{
    position: relative;
    width: 100%;
    height: 70%;
    min-height: 150px;
    top: 0;
    left: 0;

    overflow: hidden;
  }
  .cart_cardImageBG{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: blur(50px);
  }
  .cart_cardImage{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .cart_description{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
    box-sizing: border-box;
    font-size: 24px;
  }
  .cart_platforms{
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    gap: 15px;
    color: rgb(175, 175, 175);
    font-size: 18px;
  }

